body {
	font-family: 'Oxygen', sans-serif;
	background-color: #ffeb99;
}

div {
	margin: 3px;
	padding: 8px;
	border-style: solid;
	border-color: #b32d00;
	text-shadow: #ffffff;
	border-radius: 10px;
}

pre {
	text-align: right;
	font-size: 8px;
}